@model Basket

@{
	ViewData["Title"] = "Корзина";
}

@if (Model == null)
{
	<h2>Корзина пустая</h2>
	<a class = "btn btn-dark" href = "/home/index" role = "button">Продолжить покупки</a>
}
else
{
	<div class = "row">
		<div class = "col">
			<table class = "table">
				<thead>

					<tr>
						<th>Название</th>
						<th>Цена руб.</th>
						<th>Количество</th>
						<th>Стоимость руб.</th>
						<th></th>
						<th></th>
					</tr>
					
				</thead>

				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>@item.Product.Name</td>
							<td>@item.Product.Cost руб.</td>
							<td>@item.Amount</td>
							<td>@item.Cost руб.</td>
							<td><a class = "btn btn-dark" href = "/basket/add?productId=@item.Product.Id" role = "button"> + </a></td>
							<td><a class = "btn btn-dark" href = "/basket/remove?productId=@item.Product.Id" role = "button"> - </a></td>
							
							@*<td><a class = "btn btn-dark" href = "/basket/append?productId=@item.Product.Id" role = "button"> + </a></td>*@

						</tr>
					}
				</tbody>
			</table>
			<div class = "text-right">
				<h4>
					Итого:
				</h4>
				<h5>@Model.Cost Руб.</h5>

				<div class = "text-left">
					<a class = "btn btn-dark" href = "/home/index" role = "button">Продолжить покупки</a>
					<a class = "btn btn-dark" href = "/order/index" role = "button">Оформить заказ</a>
					<a class = "btn btn-dark" href = "/basket/clear" role = "button">Очистить корзину</a>
				</div>
			</div>
		</div>
	</div>
	
}