@using System;
@using System.Collections.Generic;
@model Product
@{
    ViewData["Title"] = "Корзина";
    List<Product> productsInBasket = new List<Product>();
    productsInBasket.Add(Model);
    //int countOfItem = 0;
    Dictionary<int, int> countOfItems = new Dictionary<int, int>();


}
@{

    int Sum()
    {
        int totalCost = 0;
        foreach (Product item in productsInBasket)
        {
            if (countOfItems.ContainsKey(item.Id))
            {
                totalCost += (item.Cost * countOfItems[item.Id]);
            }
        }
        return totalCost;
    }
}

<table class="table">
  <thead>
      <tr>
          <th>Название товара</th>
          <th>Количество товара</th>
          <th>Стоимость товара</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
        @if (productsInBasket.Count == 0)
        {
            <h2>Корзина пуста, скорее за покупками!!!</h2>
        }
        else
        {
            foreach (var item in productsInBasket)
            {
                if (countOfItems.Count == 0)
                {
                    countOfItems.Add(Model.Id, 1);
                }
                else
                {
                    if (countOfItems.ContainsKey(Model.Id))
                    {
                        countOfItems[Model.Id]++;
                    }
                    else
                    {
                        countOfItems.Add(Model.Id, 1);
                    }

                    //int countOfSame = 0;
                    @*for (int i = 0; i < countOfItems.Count; i++)
                    {
                        if (Model.Id == countOfItems[i])
                        


                        {
                            countOfItems[i]++;
                            countOfSame++;
                        }
                        
                    }*@
                }


                <tr>
                    <td>@item.Name</td>
                    <td>@countOfItems[item.Id]</td>
                    <td>@item.Cost</td>
                    <td><a class = "btn btn-dark" href = "basket/subtract/item.Id" role = "button">-</a></td>
                </tr>
            }
        }
    </tbody>
  <tfoot>
      <tr>
          <td colspan="2">Итого: @Sum()</td>
          <td>@Sum()</td>
      </tr>
  </tfoot>
</table>


@*<div class = "row">
    @foreach (var product in Model)
    {
            <div class = "col-3 card shadow">
                <img class = "card-mg-top" src = "/images/@product.ImageURL"></img>

                <div class = "card-body">
                    <a style: "color: black" href = "product/index/@product.Id"><h4>@product.Name</h4></a>
                    <h5>@product.Cost</h5>
                    <a class = "btn btn-dark" href = "#" role = "button">Добавить в корзину</a>
                </div>
            </div>


    }
</div>

<div class="text-center">
    <h1 class="display-4">Домашнее задание</h1>
    <h2>Создание списка товаров для онлайн магазина</h2>
    <p><a href="https://stepik.org/lesson/522438/step/2?unit=680171">Ссылка на задание</a></p>
</div>*@
